doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Mobasso

    link(href='style/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')

    link(href='style/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')

    link(href='style/vendor/magnific-popup/magnific-popup.css', rel='stylesheet')

    link(href='style/css/creative.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='style/form/css/util.css')
    link(rel='stylesheet', type='text/css', href='style/form/css/main.css')
  body#page-top

    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='/') Mobasso
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
    section.container-login100
      .wrap-login100
        form.login100-form.validate-form(method='POST' action='/formConfig' enctype='multipart/form-data')
          .wrap-input100
            label(for='title') Association name
            input#title.form-control(type='text', placeholder="Type the name of your association...", name='title')
          .wrap-input100
            label(for='description') Description
            textarea#description.form-control(type='textarea', placeholder="Type the description of your association...", name='description')
          .form-group
            label(for='logo') Logo
            input#logo.form-control(type='file' name='logo' accept="image/*")
          .form-group
            label(for='primaryColor') Primary Color :
            input#primaryColor.form-control.col-3(type='color', name='primaryColor' value='#E8D8CC')
          .wrap-input100
            label(for='donation') Donation Link :
            input#donation.form-control(type='url', placeholder="Type the donation link of your association...", name='donation')
          .wrap-input100
            label(for='facebook') Facebook :
            input#facebook.form-control(type='url', placeholder="Type the facebook of your association...", name='facebook')
          .wrap-input100
            label(for='twitter') Twitter :
            input#twitter.form-control(type='url', placeholder="Type the twitter of your association...", name='twitter')
          .wrap-input100
            label(for='instagram') Instagram :
            input#instagram.form-control(type='url', placeholder="Type the instagram of your association...", name='instagram')
          .wrap-input100
            label(for='youtube') Youtube :
            input#youtube.form-control(type='url', placeholder="Type the youtube of your association...", name='youtube')
          .container-login100-form-btn
            .wrap-login100-form-btn
              .login100-form-bgbtn
              button.login100-form-btn(type='submit')
                | Submit

    script(src='style/vendor/jquery/jquery.min.js')
    script(src='style/vendor/bootstrap/js/bootstrap.bundle.min.js')

    script(src='style/vendor/jquery-easing/jquery.easing.min.js')
    script(src='style/vendor/scrollreveal/scrollreveal.min.js')
    script(src='style/vendor/magnific-popup/jquery.magnific-popup.min.js')

    script(src='style/js/creative.min.js')
