doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Mobasso
    // Bootstrap core CSS
    link(href='style/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='style/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    // Plugin CSS
    link(href='style/vendor/magnific-popup/magnific-popup.css', rel='stylesheet')
    // Custom styles for this template
    link(href='style/css/creative.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='style/form/css/util.css')
    link(rel='stylesheet', type='text/css', href='style/form/css/main.css')
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='/') Mobasso
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#presentation') Presentation
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#login') Connexion
            li.nav-item
              a#form.nav-link.js-scroll-trigger(href='form.html', style='display:none;') Formulaire
            li.nav-item
              a#deco.nav-link.js-scroll-trigger(href='#logout', style='display:none;') Déconnexion

    header.masthead.text-center.text-white.d-flex
      .container.my-auto
        .row
          .col-lg-10.mx-auto
            h2.text-uppercase
              strong Obtenez une application pour votre association facilement
            hr
          .col-lg-8.mx-auto
            p.text-faded.mb-5
              | Avec Mobasso, plus besoin de dépenser des sommes astronomiques pour développer une application
            a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#login') Commencez
    section#presentation.bg-primary
      .container
        .row
          .col-lg-8.mx-auto.text-center
            h2.section-heading.text-white Un gain de temps et d'argent considérable !
            hr.light.my-4
            p.text-faded.mb-4
              | Mobasso vous fournit un template d'application pour votre association, parfaitement fonctionnel et modifiable à votre convenance !
              br
              | Il vous suffit de vous connecter et de remplir le formulaire avec les informations de votre association pour générer votre appli (fichier apk).

    section#login.container-login100
      .wrap-login100
        form.login100-form.validate-form(method='post', action='/')
          span.login100-form-title.p-b-26
            | Connexion
          span.login100-form-title.p-b-48
            i.zmdi.zmdi-font
          .wrap-input100.validate-input(data-validate='Valid email is: a@b.c')
            input.input100(type='text', name='email')
            span.focus-input100(data-placeholder='E-mail')
          .wrap-input100.validate-input(data-validate='Enter password')
            span.btn-show-pass
              i.zmdi.zmdi-eye
            input.input100(type='password', name='pass')
            span.focus-input100(data-placeholder='Mot de passe')
          .container-login100-form-btn
            .wrap-login100-form-btn
              .login100-form-bgbtn
              button.login100-form-btn(type='submit')
                | Connexion
          .text-center.p-t-115
            span.txt1
              | Vous n'avez pas de compte ?
            a.txt2(href='/register')
              | Inscrivez-vous
    // Bootstrap core JavaScript
    script(src='style/vendor/jquery/jquery.min.js')
    script(src='style/vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='style/vendor/jquery-easing/jquery.easing.min.js')
    script(src='style/vendor/scrollreveal/scrollreveal.min.js')
    script(src='style/vendor/magnific-popup/jquery.magnific-popup.min.js')
    // Custom scripts for this template
    script(src='style/js/creative.min.js')
    // Form scripts
    // ===============================================================================================
    script(src='style/form/vendor/jquery/jquery-3.2.1.min.js')
    // ===============================================================================================
    script(src='style/form/vendor/animsition/js/animsition.min.js')
    // ===============================================================================================
    script(src='style/form/vendor/bootstrap/js/popper.js')
    script(src='style/form/vendor/bootstrap/js/bootstrap.min.js')
    // ===============================================================================================
    script(src='style/form/vendor/select2/select2.min.js')
    // ===============================================================================================
    script(src='style/form/vendor/daterangepicker/moment.min.js')
    script(src='style/form/vendor/daterangepicker/daterangepicker.js')
    // ===============================================================================================
    script(src='style/form/vendor/countdowntime/countdowntime.js')
    // ===============================================================================================
    script(src='style/form/js/main.js')
