<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mobasso</title>

    <!-- Bootstrap core CSS -->
    <link href="style/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="style/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="style/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style/css/creative.min.css" rel="stylesheet">



    <link rel="stylesheet" type="text/css" href="style/form/css/util.css">
  	<link rel="stylesheet" type="text/css" href="style/form/css/main.css">

  </head>

  <body id="page-top">


    <section id="login" class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post">
					<span class="login100-form-title p-b-26">
						Inscription
					</span>
					<span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
					</span>

          <div class="wrap-input100">
						<input class="input100" type="text" name="associationName">
						<span class="focus-input100" data-placeholder="Nom de l'association"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="email">
						<span class="focus-input100" data-placeholder="E-mail"></span>
					</div>

          <div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="pass">
						<span class="focus-input100" data-placeholder="Mot de passe"></span>
					</div>

          <div class="wrap-input100 validate-input" data-validate="Confirm password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="pass2">
						<span class="focus-input100" data-placeholder="Mot de passe (confirmation)"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Connexion
							</button>
						</div>
					</div>

				</form>
			</div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="style/vendor/jquery/jquery.min.js"></script>
    <script src="style/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="style/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="style/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="style/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="style/js/creative.min.js"></script>


    <!-- Form scripts -->
    <!--===============================================================================================-->
    	<script src="style/form/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    	<script src="style/form/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    	<script src="style/form/vendor/bootstrap/js/popper.js"></script>
    	<script src="style/form/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    	<script src="style/form/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    	<script src="style/form/vendor/daterangepicker/moment.min.js"></script>
    	<script src="style/form/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    	<script src="style/form/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    	<script src="style/form/js/main.js"></script>

  </body>

</html>
